In [39]:
#Task 1: Safety Feature Assessment
#Examine the presence of safety features such as ABS, airbags, and hill assist, to assess the safety standards of various 
#car models with respect to each feature mentioned above.
import pandas as pd


car_data = pd.read_excel('DS1_C4_S9_Car_Data.xlsx', sheet_name=None)
print(car_data.keys())

df = car_data['cars_ds_final']

print(df.head())

safety_features = df[['Make', 'Model', 'Variant', 'ABS_(Anti-lock_Braking_System)', 'Airbags', 'Hill_Assist']]


safety_features

#Interpretation: The filtered data shows the presence of key safety features such as ABS, airbags, and hill assist across different car models and variants.

dict_keys(['cars_ds_final'])
   S. No.  Make      Model  Variant  Displacement  Cylinders  \
0       0  Tata  Nano Genx       Xt         624.0        2.0
1       1  Tata  Nano Genx       Xe         624.0        2.0
2       2  Tata  Nano Genx  Emax Xm         624.0        2.0
3       3  Tata  Nano Genx      Xta         624.0        2.0
4       4  Tata  Nano Genx       Xm         624.0        2.0

   Valves_Per_Cylinder  Fuel_Tank_Capacity_litre Fuel_Type  Height_mm  ...  \
0                  2.0                      24.0    Petrol     1652.0  ...
1                  2.0                      24.0    Petrol     1652.0  ...
2                  2.0                      15.0       CNG     1652.0  ...
3                  2.0                      24.0    Petrol     1652.0  ...
4                  2.0                      24.0    Petrol     1652.0  ...

   Central_Locking  Child_Safety_Locks Hill_Assist  Drive_Modes  \
0              Yes                 Yes         NaN          NaN
1              NaN                 Yes         NaN          NaN
2              NaN                 Yes         Yes          NaN
3              Yes                 Yes         NaN          NaN
4              NaN                 Yes         NaN          NaN

   High_Speed_Alert_System  ABS_(Anti-lock_Braking_System)  \
0                      NaN                             NaN
1                      NaN                             NaN
2                      NaN                             NaN
3                      NaN                             NaN
4                      NaN                             NaN

  Gross_Vehicle_Weight  Airbags  Door_Ajar_Warning  Fasten_Seat_Belt_Warning
0                  NaN      NaN                NaN                       NaN
1                  NaN      NaN                NaN                       NaN
2                  NaN      NaN                NaN                       NaN
3                  NaN      NaN                NaN                       NaN
4                  NaN      NaN                NaN                       NaN

[5 rows x 30 columns]

,Make,Model,Variant,ABS_(Anti-lock_Braking_System),Airbags,Hill_Assist
0,Tata,Nano Genx,Xt,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,NaN,NaN,Yes
3,Tata,Nano Genx,Xta,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,NaN,NaN,NaN
...,...,...,...,...,...,...
1271,Honda,City,Vx Mt Diesel,Yes,"Driver frontal airbag, Front passenger frontal...",NaN
1272,Honda,City,Zx Mt Diesel,Yes,"Drive side airbag, Curtain airbags, Driver fro...",NaN
1273,Honda,City,Zx Cvt Petrol,Yes,"Curtain airbags, Driver frontal airbag, Front ...",NaN
1274,Honda,City,V Cvt Petrol,Yes,"Driver frontal airbag, Front passenger frontal...",NaN
1275,Mitsubishi,Montero,3.2 At,Yes,"Driver frontal airbag, Front passenger frontal...",Yes

In [47]:
#Task 2: User Comfort Exploration
#Explore seating capacity, central locking, and child safety locks to understand user comfort and family-friendly features.
#Hint: Calculate the average seating capacity and count the occurrences of central locking and child safety locks for each model.

df = car_data['cars_ds_final']

comfort_features = df[['Make', 'Model', 'Variant', 'Seating_Capacity', 'Central_Locking', 'Child_Safety_Locks']]

average_seating_capacity = comfort_features.groupby(['Make', 'Model'])['Seating_Capacity'].mean().reset_index()

central_locking_count = comfort_features.groupby(['Make', 'Model'])['Central_Locking'].apply(lambda x: (x == 'Yes').sum()).reset_index()
child_safety_locks_count = comfort_features.groupby(['Make', 'Model'])['Child_Safety_Locks'].apply(lambda x: (x == 'Yes').sum()).reset_index()

user_comfort_summary = average_seating_capacity.merge(central_locking_count, on=['Make', 'Model'])
user_comfort_summary = user_comfort_summary.merge(child_safety_locks_count, on=['Make', 'Model'])

user_comfort_summary.columns = ['Make', 'Model', 'Average_Seating_Capacity', 'Central_Locking_Count', 'Child_Safety_Locks_Count']


user_comfort_summary.head()

# Interpretation : The analysis shows that the average seating capacity varies across different car models, with some models having higher capacities for family comfort. Additionally, the presence of central locking and child safety locks is noted in many models, indicating a focus on safety and convenience for family use.

,Make,Model,Average_Seating_Capacity,Central_Locking_Count,Child_Safety_Locks_Count
0,Aston Martin,Db 11,2.0,1,1
1,Aston Martin,Rapide,4.0,1,1
2,Aston Martin,Vantage,2.0,0,0
3,Audi,A3,5.0,4,4
4,Audi,A3 Cabriolet,4.0,1,1

In [53]:
#Task 3: Alert Systems Analysis
#Investigate the presence of high-speed alerts, seat belt reminders, 
#and door-ajar warnings to assess the integration of safety and convenience features with respect to each feature mentioned above.

alert_features = df[['Make', 'Model', 'Variant', 'High_Speed_Alert_System', 'Fasten_Seat_Belt_Warning', 'Door_Ajar_Warning']]

high_speed_alert_count = alert_features.groupby(['Make', 'Model'])['High_Speed_Alert_System'].apply(lambda x: (x == 'Yes').sum()).reset_index()
seat_belt_warning_count = alert_features.groupby(['Make', 'Model'])['Fasten_Seat_Belt_Warning'].apply(lambda x: (x == 'Yes').sum()).reset_index()
door_ajar_warning_count = alert_features.groupby(['Make', 'Model'])['Door_Ajar_Warning'].apply(lambda x: (x == 'Yes').sum()).reset_index()

alert_systems_summary = high_speed_alert_count.merge(seat_belt_warning_count, on=['Make', 'Model'])
alert_systems_summary = alert_systems_summary.merge(door_ajar_warning_count, on=['Make', 'Model'])

alert_systems_summary.columns = ['Make', 'Model', 'High_Speed_Alert_Count', 'Seat_Belt_Warning_Count', 'Door_Ajar_Warning_Count']

alert_systems_summary.head()

#Interpretation: The analysis shows variability in the presence of high-speed alerts, seat belt reminders, and door-ajar warnings among different car models. Some models consistently integrate these safety features, while others lack one or more of these alerts, indicating a disparity in safety and convenience standards across car manufacturers.

,Make,Model,High_Speed_Alert_Count,Seat_Belt_Warning_Count,Door_Ajar_Warning_Count
0,Aston Martin,Db 11,0,1,1
1,Aston Martin,Rapide,0,1,1
2,Aston Martin,Vantage,0,1,1
3,Audi,A3,0,4,4
4,Audi,A3 Cabriolet,0,1,1

In [67]:
#Task 4: Dimensional Analysis
#Analyze the dimensions of cars (height, length, width) to
#understand size preferences and market demands, aiding in
#product planning.
#Also, present make-wise average summaries for all dimensions of cars analyzed above.

dimension_features = df[['Make', 'Model', 'Height_mm', 'Length_mm', 'Width_mm']]
make_wise_average_dimensions = dimension_features.groupby('Make').mean(numeric_only=True).reset_index()
make_wise_average_dimensions.columns = ['Make', 'Average_Height_mm', 'Average_Length_mm', 'Average_Width_mm']
make_wise_average_dimensions.head()

#Interpretation: The make-wise average dimensions reveal that luxury brands like Bentley and Aston Martin feature larger heights, lengths, and widths, catering to premium market demands. In contrast, brands like Bajaj have smaller dimensions, indicating their focus on compact, city-friendly models.

           Make  Average_Height_mm  Average_Length_mm  Average_Width_mm
0  Aston Martin        1294.333333        4623.000000       1982.333333
1          Audi        1543.166667        4715.096774       1879.366667
2         Bajaj        1652.000000        2752.000000       1312.000000
3       Bentley        1563.666667        5210.166667       2140.666667
4           Bmw        1541.486486        4816.891892       1980.243243